on:
    push:
        tags:
            - 'v*.*.*'
jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v5
            - uses: bazel-contrib/setup-bazel@0.15.0
            - run: bazel run --config=release --run_under=cp //tools:buildozer buildozer.wasm
            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                files: buildozer.wasm
